streamlit

# core ML / utils
deep-translator
gTTS
numpy
Pillow

# Audio tools
pydub
streamlit-audiorec
audio-recorder-streamlit
SpeechRecognition

# Computer vision / OCR
opencv-python-headless
pytesseract

# PDF / report
fpdf








